<div>
    <p>Hello <b><%=a[1]%></b></p>
    <br>
    <br>
    <p>You got a new message from <b><%=a[3]%></b></p>
    <br>
    <br>
    <p> <b><%=a[0]%></b></p>
    <br>
    <br>
    <p>You can continue this conversation with <b><%=a[1]%></b> through <b><%=a[4]%></b></p>

</div>